div#Chat{
    font-size: 50px;  
    height: 100%;  
}

div#nick{
    position: absolute;
    top: 10%;
    left: 5%;
    min-width: 200px;
    padding: 20px;
}



/* INPUT DO WIADOMOSCI */
div#buttonWyslij{
    position: absolute;
    bottom: 1px;
    width: 100%;
    display: flex;
    height: 9vh;
}
input#buttonWyslij{font-size: 5vh; height: 8.5vh; width: 95%; text-align: right;}
input#buttonWyslij1{width: 5%; font-size: 5vh;}
form#buttonWyslij{
    display: flex;
    width: 100%;
}



/* USTAWIANIE NICKU */
div#Nnick{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    background-color: #bcbcbc;
    height: 50vh;
    transition: 0.2s;

    z-index: 1;
}
div#Nnick1{
    margin: auto;
}

input#Nnick, input#Nlogin{
    font-size: 50px;
}

p#tytul{
    font-weight: bold;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;  
    user-select: none;
}



/* BAR */
div#BAR{
    position: absolute;
    top: 0px;
    background-color: aqua;
    right: 10%;
    transform: translate(-50%, 0);
    width: 100px;
    color: white;
    transition: 0.2s;
    
    border-radius: 0px 0px 25px 25px;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;  
    user-select: none;

    z-index: 9;
}
div#BARkafelek{
    height: 65px;
}
div#BARhide{
    width: 100%;
    font-size: 30px;

}
div#BARhide1{
    transform: rotate(180deg) ;
    transition: 0.2s;
}


/* nick wyswietlany u gory */

div#wysNick{
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%,0);
}

h1#wysNickh1{
    color: white;
}


div#wysnickChat{
    color: white;
    font-size: 5vw;
    background-color: black;
    border-radius: 25%;
    width: 15vw;
    height: 7vw;
    position: absolute;
    top: 2%;
    right: 10%;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;  
    user-select: none;
}

div#wysnickChat:active{
    background-color: rgb(43, 43, 43);
}
