/* WIADOMOSĆI */
#tabelaChatP, #tabelaChatL{
    border: solid 1px;
    height: 100px;
}
#tabelaChatP{text-align: right;}
#tabelaChatL{text-align: left;}

div#wiadomosci1{
    color: black;
    overflow: hidden;
    overflow-y: scroll;
    height: 91vh;
}

#divP, #divL {
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    max-width: 60%;
    color: white;
}
#divP{background-color: rgb(81, 255, 249, 0.7);}
#divL{background-color: rgba(34, 34, 34, 0.5);color: white;}

div#nazwaP, div#nazwaL{
    color: black;
    font-size: 50%;
}
div#nazwaP{margin-right: 20px;}
div#nazwaL{margin-left: 20px;}

/* KOMUNIKAT */
h1#komunikat{
    color: white;
}

/* kropki komunikatu */
#kropka{
    position: relative;
    animation: animKropki 1s infinite;
    animation-delay: calc(.1s * var(--i));
    display: inline-block;
    font-size: 200px;
    top:-100px;
}

@keyframes animKropki{
        0%, 40%,100%{
            
            transform: translateY(0px)
        }

        20%{
            transform: translateY(-20px)
        }
}