body{
  background-color: gray;
  text-align: center;
}

td#home{
  border: solid 1px;
  font-size: 50px;
}

tr#home{
  border: solid 1px;
  width: 100%;
}

table#home{
  width: 100%;
}

img{
  height: 50em;
}




