html, body{
  background-color: gray;
  text-align: center;
  height: 100%;
}

td#home{
  border: solid 1px;
  font-size: 4vh;
  height: 6vh;
}

table#home{
  width: 100%;
}

img{
  height: 80vh;
}




