html, body{
  background-color: gray;
  text-align: center;
  height: 100%;
}

img{
  height: 80vh;
}



/* glowne menu */
div#gloBar{
  background-color: rgb(0, 0, 0);
  font-size: 40px;
  position: absolute;
  top: 50px;
  left: -100px;
  border-radius: 0px 25px 25px 0px;
  color: white;
  opacity: 20%;

  transition:0.2s;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;  
  user-select: none;
}

/* strzałka w lewo na barze */
div#gloBarStrz{
  transition: 0.2s;
  transform: rotate(180deg);
}
td#gloTd2{font-size: 50px;}

/* przyciski na barzu */
div.gloPrzycisk{
  height: 100px;
  width: 100px;
  
}

/* text na przyciskach na pasku */
.innerGloPrzycisk{
  font-size: 70px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  display: inline-block;
}

.innerGloPrzycisk:active{
  font-size: 60px;
  vertical-align: middle;
}


