div#Chat{
    font-size: 50px;  
    height: 100%;  
}

div#nick{
    position: absolute;
    top: 10%;
    left: 5%;
    min-width: 200px;
    padding: 20px;
}


div#buttonWyslij{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}
input#buttonWyslij{font-size: 5vh; height: 8.5vh; width: 95%; text-align: right;}
button#buttonWyslij{width: 5%; font-size: 5vh;}

#tabelaChatP, #tabelaChatL{
    border: solid 1px;
    height: 100px;
}
#tabelaChatP{text-align: right;}
#tabelaChatL{text-align: left;}


div#wiadomosci1{
    color: black;
    height: 84.5vh;
    overflow: hidden;
    overflow-y: scroll;
}

#divP, #divL {
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    max-width: 60%;
    color: white;
}
#divP{background-color: rgb(81, 255, 249, 0.7);}
#divL{background-color: rgba(34, 34, 34, 0.5);color: white;}


div#nazwaP, div#nazwaL{
    color: black;
    font-size: 50%;
}
div#nazwaP{margin-right: 20px;}
div#nazwaL{margin-left: 20px;}


div#scroll{
    background-color: rgb(83, 83, 83);
    padding: 15px;
    display: inline-block;
    position: absolute;
    bottom: 80%;
    left: 85%;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}
div#scroll:active{
    background-color: rgb(62, 62, 62);
}
