div#Chat{
    font-size: 50px;  
    height: 100%;  
}

div#nick{
    position: absolute;
    top: 10%;
    left: 5%;
    min-width: 200px;
    padding: 20px;
}



/* INPUT DO WIADOMOSCI */
div#buttonWyslij{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}
input#buttonWyslij{font-size: 5vh; height: 8.5vh; width: 95%; text-align: right;}
button#buttonWyslij{width: 5%; font-size: 5vh;}



/* WIADOMOSĆI */
#tabelaChatP, #tabelaChatL{
    border: solid 1px;
    height: 100px;
}
#tabelaChatP{text-align: right;}
#tabelaChatL{text-align: left;}

div#wiadomosci1{
    color: black;
    height: 84.5vh;
    overflow: hidden;
    overflow-y: scroll;
}

#divP, #divL {
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    max-width: 60%;
    color: white;
}
#divP{background-color: rgb(81, 255, 249, 0.7);}
#divL{background-color: rgba(34, 34, 34, 0.5);color: white;}

div#nazwaP, div#nazwaL{
    color: black;
    font-size: 50%;
}
div#nazwaP{margin-right: 20px;}
div#nazwaL{margin-left: 20px;}



/* USTAWIANIE NICKU */
div#Nnick{
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 900px;
    background-color: #bcbcbc;
    border-radius: 25px;
    height: 350px;
    border: solid 5px;
}

input#Nnick, input#Nlogin{
    font-size: 50px;
}

p#tytul{
    font-weight: bold;
}



/* BAR */
div#BAR{
    background-color: black;
    height: 400px;
    width: 200px;
    position: absolute;
    top:6.5vh;
    right: 10%;
    border-radius: 0px 0px 25px 25px;
}

/* marginesy dla przycisku oraz nadanie 3d */
.przycisk{
    margin-top: 5px;
    transform-style: preserve-3d;
} 
/* zmiana tla podczasa wcisniecia przycisku */
div#sciana:active, div#sciana2:active{background-color: rgb(62, 62, 62);}



/* przycisk scroll */
div#sciana{
    background-color: rgb(83, 83, 83);
    padding: 15px;
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    width: 150px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) translateZ(-101px);
}

/* druga sciana dla przycisku scroll */
div#sciana2{
    background-color: rgb(83, 83, 83);
    padding: 15px;
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    width: 150px;

    transform: rotateY(90deg) translateZ(-100px);
}

div#scroll{
    transform-style: preserve-3d;  
    transition: 0.5s;
    width: 200px;
}



/* przycisk Ustawienie Nick'u */
div#pokUstNick{
    background-color: rgb(83, 83, 83);
    padding: 15px;
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    width: 150px;

}